/*Wood Working Restoration Project
 *Jason Asselin
 *A woodworking site for wood restoration projects
 */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
