extends layout

block content
  //Section for about me page and info
  h1= title
  p This is my #{title} page! A few points about me are:
  li I enjoy working with mainframe and databases
  li I've always wanted to make a mobile game
  li Computer programming wasn't my first choice of career
  br