extends layout

block content
  //Section for contact page and info
  h1 Contact Page
  p If you need to reach out and contact me, my information is listed below:
  ul Name: Jason Asselin
  ul Phone #: 705-555-5555
  ul Email: 100150236@student.georgianc.on.ca
  br