extends layout

block content
  //Section for home page and info
  h1 Welcome to the home page!
  p Thank you for visiting #{title} and please feel free to click some of the links shown!
  br
  p You have the option of selecting the following links: