extends layout

block content
  //Section for request for a restore, form will be included
  h1 Looking to get something restored?
  p Fill out this form and feel free to include some pictures of what item/items your looking to get restored
  br
  p Please let us know what your looking for here: